.dessert-wrapper, .random-wrapper,.geo-wrapper{
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 4rem 2rem 4rem;
	.splide-card{
		margin: 0;
		width: 0;
	}
}

.card-wrapper{
  height: 15rem;
	width: 20rem;
	border-radius: 2rem;
	overflow: hidden;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		img {
		border-radius: 2rem;
		position: absolute; 
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		}

		h1 {
			position: absolute;
			z-index: 10;
			left: 50%;
			bottom: 0%;
			transform: translate(-50%, 0%);
			color: white;
			width: 100%;
			text-align: center;
			font-weight: 600;
			font-size: 1rem;
			height: 40%;
			display: flex;
			justify-content: center;
			align-items:center;
		}
}



.list{
	display: flex;
	justify-content: center;
	margin: 2rem 0rem;

	.category-buttons{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: 2px solid black;
		margin: 0 1rem;
		text-decoration: none;
		background: rgb(223, 221, 221);
		width: 6rem;
		height: 6rem;
		cursor: pointer;
		transform: scale(0.8);

		h4{
			color: rgb(12, 12, 12);
			font-size: 0.9rem;
		}

		svg{
			color: rgb(12, 12, 12);
			font-size:1.5rem; 
		}

		&.active{
			background: linear-gradient(to left, #00B712, #63D471);
			border: none;

			svg{
				color: rgb(12, 12, 12);
			}

			h4{
				color: rgb(12, 12, 12);
			}
		}
	}
}

.form-wrapper{
	display: flex;
	justify-content: center;
		div{
			position: relative;
		}
		
		input{
			border: none;
			background: rgb(223, 221, 221);
			font-size: 1.5rem;
			color: rgb(12, 12, 12);
			padding: 1rem 3rem;
			border:none;
			border-radius: 1rem;
			outline: none;
			width: 40rem;
		}
	
		svg{
			position: absolute;
			top:50%;
			left: 0%;
			transform: translate(100%, -50%);
			color: rgb(12, 12, 12);
		}	
}

.geo-loc,.geo-temp{
	font-size: 1.5rem;
	color:white;
	line-height: 2.5rem;
	margin: 0;
}


@media only screen and (max-width: 768px) {
	.dessert-wrapper, .random-wrapper,.geo-wrapper{
		margin: 0 1rem 1rem 1rem;
	}

	.card-wrapper{
		width: 18rem;
	}

	.form-wrapper{
		input{
			width: 18rem;
			font-size: 1rem;
			color: rgb(12, 12, 12);
			padding: 0.8rem 2.5rem;

		}
	}

	.container-title{
		line-height: 1rem;
		margin: 1rem 0;
		font-size: 1.2rem;
	}

	.list{
		margin: 1rem 0;
		.category-buttons{
			margin: 0;
			width: 4rem;
			height: 4rem;

			h4{
				color: rgb(12, 12, 12);
				font-size: 0.5rem;
			}
	
			svg{
				color: rgb(12, 12, 12);
				font-size:1rem; 
			}
		}
	}

	.geo-loc,.geo-temp{
		font-size: 1.2rem;
		color:white;
		line-height: 2rem;
		margin: 0;
	}
}
